.reg-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.reg-container input {
	width: 400px;
	height: 20px;
}
.nav-container {
	display: flex;
	justify-content: space-between;
	align-self: center;
	padding-bottom: 10px;
	background: black;
	color: white;
}
.nav-container a {
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
}
